.logo {
    width: 100%;
    height: 75px;
}

.header {
    width: 100%;
    text-align: center;
}

.text_input {
    width: 100%;
    height: 85px !important;
}

.forget_email {
    width: 100%;
    margin-bottom: 12px !important;
    font-family: 'Roboto',
        sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    letter-spacing: .25px !important;
    color: #1a73e8 !important;
}

.signin_button {
    width: 100%;
    margin: 0 auto;
}